name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci-checks:
    runs-on: ubuntu-latest
    container:
      image: golang:1.25.1-alpine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install make (if missing)
        run: apk add --no-cache make

      - name: Run CI pipeline
        run: make ci